<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/home" routerDirection="root" routerLinkActive="selected">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
          <ion-item routerLink="/proveedores" routerDirection="root" routerLinkActive="selected">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>Proveedores</ion-label>
          </ion-item>
          <ion-item routerLink="/parcelas" routerDirection="root" routerLinkActive="selected">
            <ion-icon slot="start" name="map"></ion-icon>
            <ion-label>Parcelas</ion-label>
          </ion-item>
          <ion-item routerLink="/aplicadores" routerDirection="root" routerLinkActive="selected">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label>Aplicadores</ion-label>
          </ion-item>
          <ion-item routerLink="/aplicaciones" routerDirection="root" routerLinkActive="selected">
            <ion-icon slot="start" name="flask"></ion-icon>
            <ion-label>Aplicaciones</ion-label>
          </ion-item>
          <ion-item routerLink="/productos" routerDirection="root" routerLinkActive="selected">
            <ion-icon slot="start" name="leaf"></ion-icon>
            <ion-label>Productos</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
